  /* .......Login page code................. */
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   scroll-behavior: smooth;
}

  .text-a {
      color: red;
      margin: 3px 20px;
      position: absolute;
  }

  .vdo {
      position: absolute;
      width: 100%;
      filter: blur(5px);
  }

  .layer {
      background-color: black;
      position: absolute;
      opacity: 0.3;
      width: 100%;
      height: 760px;
  }

  .circle {
      border: 1px solid white;
      height: 400px;
      width: 400px;
      border-radius: 100%;
      position: absolute;
     top: 400px;
     right:-100px;
      background: linear-gradient(20deg, rgba(18, 120, 236, 0.74), rgba(0, 0, 0, 0.616));
      opacity: 0.3;

      animation: vivek 10s linear infinite;
  }

  @keyframes vivek {
      from {
          transform: rotate(0deg);
      }

      to {
          transform: rotate(360deg);
      }
  }

  .one {
      left: 450px;
      height: 150px;
      width: 150px;
  }

  .two {
      top: 0;
      left: 580px;
      height: 300px;
      width: 300px;
  }

  .log {
      width: 100px;
      position: absolute;
      font-size: 30px;
      margin: 30px 130px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold
  }

  .main-border {
      /* background-color: rgba(135, 207, 235, 0.479); */
      background: #311898;
      width: 100%;
      position: fixed;
      height: 620px;
  }

  .link {
      text-decoration: none;
  }

  .text-b {
      margin: 3px 20px;
      color: red;
      position: absolute;
  }

  .text-c {
      position: absolute;
      color: red;
      margin: 50px 27px;
      border: 1px solid red;
      height: 30px;
      width: 300px;
      justify-content: center;
      align-items: center;
      background-color: rgba(243, 14, 14, 0.24);
      opacity: 0.6;
      display: flex;
  }

  .border {
      border-color: red;
  }

  body {
      left: 0;
      right: 0;
      padding: 0;
      margin: 0;


  }

  .main {
      position: relative;
      /* background-image: url('lock.jpg'); */
      background-size: cover;
      height: 600px;
      backdrop-filter: blur(5px);

  }

  .header {
      margin: 80px 500px;
      position: absolute;
      border: 1px solid white;
      height: 450px;
      width: 350px;
      background: linear-gradient(rgba(105, 219, 210, 0.596), rgba(240, 46, 198, 0.527));
      border-radius: 10px;
      backdrop-filter: blur(5px);
      box-shadow: 0px 0px 20px white;
      z-index: 1;

  }

  /* .main{
    background: linear-gradient(145deg,rgb(35, 189, 56),rgba(255, 192, 203, 0.514),cyan);
    height: 600px;
    backdrop-filter: blur(50px);
} */
  .input1 input {
      margin-top: 100px;
      margin-left: 20px;
      font-size: 20px;
      position: absolute;
      border-radius: 10px;
      outline: none;
      background: rgba(255, 255, 255, 0.342);
      border: 3px solid rgba(255, 255, 255, 0.315);

      box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.18), inset 5px 5px 20px -8px rgba(11, 11, 11, 0.37);
      color: white;
  }

  .input2 input {
      border-radius: 10px;
      margin-top: 50px;
      margin-left: 20px;
      outline: none;
      font-size: 20px;
      color: white;
      position: absolute;
      background: rgba(255, 255, 255, 0.342);
      border: 3px solid rgba(255, 255, 255, 0.315);
      box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.18), inset 5px 5px 20px -8px rgba(11, 11, 11, 0.37)
  }

  .header input {
      position: relative;
      height: 45px;
      width: 300px;
      padding-left: 10px;

  }

  .home {
      color: white;
      margin: 6px 78rem;
      position: absolute;
      font-size: 2rem;
      cursor: pointer;
  }

  .header button {
      margin: 52.2px 132px;
      height: 35px;
      width: 100px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      border: none;
      box-shadow: 10px 10px 20px -10px rgba(0, 0, 0, 0.18), 5px 5px 20px -8px rgba(11, 11, 11, 0.37)
  }

  .btn-container:before {
      content: '';
      height: 40px;
      width: 105px;
      background-color: red;
      position: absolute;
      margin: 50px 130px;
      z-index: -1;
      border-radius: 5px;
      /* background: conic-gradient(yellow, green, red, blue); */
      background: linear-gradient(150deg, aqua, rgb(12, 16, 247), rgb(189, 230, 112));

  }

  .header button:hover {
      font-size: 18px;
      transition: all 0.5s ease-in-out;
  }

  .header button:active {
      background-color: grey;
      border: none;
      color: white;
  }

  .input1 {
      position: relative;
  }

  .input1 label {
      position: absolute;
      left: 25px;
      top: 115px;
      opacity: 0.5;
      padding-left: 10px;

      font-size: 20px;

  }

  .input1 input:focus+label {
      position: absolute;
      /* top: 70px; */
      transition: 0.3s;
      transform: translateX(5px) translateY(-26px);
      font-size: 18px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      opacity: 0.6;
      background-color: white;
      width: 50px;
  }


  .input1 input:not(:placeholder-shown)+label {
      /* top: 70px; */
      transition: 0.3s;
      transform: translateX(5px) translateY(-26px);
      font-size: 18px;
      opacity: 0.6;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      opacity: 0.5;
      background-color: white;
      width: 50px;
  }

  .input2 {
      position: relative;
  }

  .input2 label {
      position: absolute;
      left: 23px;
      top: 65px;
      opacity: 0.5;
      padding-left: 10px;
      font-size: 20px;
  }

  .input2 input:focus+label {
      /* top: 20px; */
      transition: 0.3s ease-in-out;
      transform: translateX(5px) translateY(-26px);
      font-size: 18px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      opacity: 0.6;
      background-color: white;
      width: 80px;
  }

  .input2 input:not(:placeholder-shown)+label {
      /* top: 20px; */
      transition: 0.3s;
      transform: translateX(5px) translateY(-26px);
      font-size: 18px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      opacity: 0.5;
      background-color: white;
      width: 80px;
  }

  .main-header {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      display: flex;
      /* background: linear-gradient(190deg,rgba(247, 241, 241, 0.548),rgba(255, 255, 255, 0.521)); */
      justify-content: flex-end;
      background: linear-gradient(180deg, rgba(118, 62, 208, 1) 0%, rgba(46, 27, 160, 1) 155.56%);
      border-bottom: 2px solid navy;
      z-index: 1;
  }

  .main-header p {
      padding-right: 30px;
      color: white;
  }


  .type-ac button {
      margin: 40px 50px;
      height: 38px;
      width: 120px;
      font-size: 20px;
      border-radius: 5px;
      border: none;
      background: linear-gradient(90deg, #E43BFF, #6E4AFF 96.66%);
      transition:all 0.5s ease-in-out;
      color: rgba(0, 0, 0, 0.521);
  }

  .type-ac button:hover {
      border: 2px solid aqua;
      box-shadow: 0 0 10px aqua, 0 0 10px aqua;
      color: white;
      background-color: transparent;
  }

  .type-ac button:active {
      background: rgba(255, 255, 255, 0.233);
      color: red;
  }

  .vv {
      position: absolute;
      top: -200px;
      width: 100%;
      height: 200px;
  }

  .type-ac {
      width: 235px;
      background: linear-gradient(180deg, rgba(118, 62, 208, 1) 0%, rgba(46, 27, 160, 1) 155.56%);
    border-right: 2px solid navy;
      position: fixed;
      left: 0px;
      bottom: 0;
      top: 50px;
  }

  .detail-flex {
      display: flex;
  }

  .table {
      border-radius: 10px;
      width: 200px;
      font-weight: bold;
      background: #6E4AFF;
      margin: 70px 295px;
      border: 2px solid #ffffff91;
  }

  .head {
      background-color: #6c06f1;
      border-radius: 10px 10px 0 0;
      color:white;
      text-shadow: 0 0 30px aqua, 0 0 30px aqua;
      border-bottom: 2px solid #a1a1ffc9;
  }

  .head th {
      padding: 15px 100px;
  }

  .row {
      border-radius: 10px;
      background-color: white;
      opacity: 0.7;
      color: black;

  }
  .body{
    margin-left: 10px;
  }

  .body td {
      height: 30px;
      width: 245px;
      text-align: center;
      padding-top: 10px;
  }
  .pop{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 200px;
    margin: 0px 550px;
  }